<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static  'js/easyui/themes/default/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/easyui/themes/icon.css' %}">
</head>
<body class="easyui-layout" >
    <div class="easyui-layout" style="width:1024px;height:768px;" >
        <div data-options="region:'north'" style="height: 60px;">
            Welcome {{ username }}
        </div>
        <!--左侧菜单-->
        <div data-options="region:'west',split:true" title="功能菜单" style="width:30%;">
            <ul class="easyui-tree" id="tree">
            <li><span>平台管理</span>
                <ul>
                    <li><span>用户管理</span>
                        <ul>
                            <li><a data-options='{"url":"/user","iconCls":""}'>用户管理</a></li>
                            <li><a data-options='{"url":"/user/add","iconCls":""}'>添加用户</a></li>
                        </ul>
                    </li>
                    <li><span>角色管理</span>
                        <ul>
                            <li><a data-options='{"url":"/role","iconCls":""}'>角色管理</a></li>
                            <!--<li><a data-options='{"url":"/role/add","iconCls":""}'>添加用户</a></li>-->
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span>综合分析</span> </li>
            <li><span>接口管理</span> </li>
        </ul>
        </div>
        <!--内容页-->
        <div id="divmain" data-options="region:'center',tools:'#tab-tools'" class="easyui-tabs" ></div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/easyui/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easyui/jquery.easyui.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function addTab(title, url, closable, iconClass) {
            if ($('#divmain').tabs('exists', title)) {
                $('#divmain').tabs('select', title);
            } else {
                var content = '<iframe scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:100%;"></iframe>';
                $('#divmain').tabs('add', {
                    title: title,
                    content: content,
                    closable: closable,
                    iconCls: iconClass
                });
            }
        }

        $("#tree a").click(function () {
            //注意单双引号，data-options的值是json格式的
            var options = $.parseJSON($(this).attr("data-options"));
            addTab($(this).html(), options.url, true, options.iconCls); //打开url
        });

        addTab("我的桌面", "/desktop", false, "icon-home"); //默认打开我的桌面
    });
</script>
</html>