<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>角色管理</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static  'js/easyui/themes/default/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/easyui/themes/icon.css' %}">
    <script type="text/javascript" src="{% static 'js/easyui/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easyui/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easyui/locale/easyui-lang-zh_CN.js' %}"></script>
</head>
<body>
    <table id="dg" title="角色列表" class="easyui-datagrid" style="width:700px;height:250px"
       url="role/list" toolbar="#toolbar" pagination="true"  rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="role_id" width="50">ID</th>
                <th field="role_name" width="50">角色名</th>
                <th field="last_update" width="50">上次修改时间</th>
                <th field="state" width="50">状态</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="add()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="edit()">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="remove()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-man" plain="true" onclick="user()">用户</a>
    </div>

    <div id="dlg" class="easyui-dialog" style="width:400px"  closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">角色信息</div>
            <div style="margin-bottom:10px">
                <input name="role_name" class="easyui-textbox" required="true" label="角色名:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="state" class="easyui-textbox" required="true" label="状态:" style="width:100%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <script type="text/javascript">
        var url;
        function add(){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','添加角色');
            $('#fm').form('clear');
            url = 'role/add';
        }
        function edit(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑角色信息');
                $('#fm').form('load',row);
                url = 'role/edit/'+row.role_id;
            }
        }
        function save(){
            $('#fm').form('submit',{
                url: url,
                dataType:"json",
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.code==1){
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
        function remove(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('确认','确认删除当前角色?',function(r){
                    if (r){
                        $.post('role/remove',{id:row.role_id},function(result){
                            if (result.code==1){
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
    </script>
</body>
</html>